* {
    box-sizing: border-box;
}

.imagen {
    width: 100%;
    border-radius: 2em;
}

.imagen:hover {
    background-color: rgba(163, 163, 163, 0.438);
}

.contImagenes {
    display: flex;
    flex-direction: column;
}

.contSeccion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
